.venv
frontend/node_modules
.env
# static
.azure/
__pycache__/
.ipynb_checkpoints/
/.vs/bit3444-chat/FileContentIndex/68bb5847-97f5-416c-a104-14b0cf0422e4.vsidx
/.vs/bit3444-chat/FileContentIndex
/.vs/bit3444-chat/v17
/.vs/bit3444-chat/config
/.vs
